<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<body>
<div id="network_graph"></div>


<script>

// set the dimensions and margins of the graph
const margin = {top: window.innerHeight * 0.01, right: window.innerWidth * 0.01, bottom: window.innerHeight * 0.01, left: window.innerWidth * 0.01},
  width = window.innerWidth - margin.left - margin.right,
  height = window.innerHeight - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#network_graph")
.append("svg")
  .attr("width", window.innerWidth)
  .attr("height", window.innerHeight)
.call(d3.zoom().on("zoom", function () {
       svg.attr("transform", d3.event.transform)
    }))
.append("g")
  .attr("transform",
        `translate(${margin.left}, ${margin.top})`);

d3.json("/static/graph_data.json", function(data) {

    // Initialize the links
  var links = svg
    .selectAll("line")
    .data(data.links)
    .enter()
    .append("line")
      .style("stroke", "#aaa")
      
  // Initialize the nodes
  var nodes = svg
    .selectAll("circle")
    .data(data.nodes)
    .enter()
    .append("circle")
      .attr("id", function(d){return "ent"+d.id})
      .attr("r", 8)
      .style("fill", "#69b3a2")
      .on('click', function(d){window.location.href = window.location.href + 'entities/' + d.id});

  nodes.append("title")
  .text(d => d.name);

  nodes
    .on('mouseover', function(d){
      var connected_nodes = [];
      d3.select(this).style('fill', '#A10A0A');
      links
      .style('stroke', function (link_d) {
        if (link_d.source.id === d.id) {
          connected_nodes.push("#ent"+link_d.target.id)
        }
        else if (link_d.target.id === d.id) {
          connected_nodes.push("#ent"+link_d.source.id)
        }
        else {
          d3.select("#ent"+link_d.source.id).style('opacity', 0.5);
          d3.select("#ent"+link_d.target.id).style('opacity', 0.5);
          d3.select(this).style('opacity', 0.5)
        }
          
        return link_d.source.id === d.id || link_d.target.id === d.id ? 'black' : '#d9d7d7';})
      .style('stroke-width', function (link_d) {return link_d.source.id === d.id || link_d.target.id === d.id ? 2 : 1;});
      for (let i = 0; i<connected_nodes.length; i++){
        d3.select(connected_nodes[i])
          .style('opacity', 1)
          .style('fill', '#A10A0A')
      }
    })
    .on('mouseout', function(d){
      nodes
      .style("fill", "#69b3a2")
      .style('opacity', 1)
      links
      .style("stroke", "#aaa")
      .style("width", "1")
      .style('opacity', 1)
    });

  var text = svg
    .selectAll('text')
    .data(data.nodes)
    .enter()
    .append('text')
    .text(nodes => nodes.name)
    .attr('font-size', 8)
    .attr('dx', 5)
    .attr('dy', -5)

  // List forces to apply
  const simulation = d3.forceSimulation(data.nodes)
      .force("link", d3.forceLink()
            .id(function(d) { return d.id; })
            .links(data.links)
            .strength(2)
      )
      .force("charge", d3.forceManyBody().strength(-200))
      .force("x", d3.forceX(width/2))
      .force("y", d3.forceY(height/2))

  // Update nodes positions
  simulation.nodes(data.nodes).on('tick', () => {
    links
        .attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    nodes
         .attr("cx", function(d) { return d.x; })
         .attr("cy", function(d) { return d.y; });

    text
         .attr("dx", function(d) { return d.x+3; })
         .attr("dy", function(d) { return d.y-3; });
  })

  const dragDrop = d3.drag()
    .on('start', nodes => {
      nodes.fx = nodes.x
      nodes.fy = nodes.y
    })
    .on('drag', nodes => {
      simulation.alphaTarget(0.7).restart()
      nodes.fx = d3.event.x
      nodes.fy = d3.event.y
    })
    .on('end', nodes => {
      if (!d3.event.active) {
        simulation.alphaTarget(0)
      }
      nodes.fx = null
      nodes.fy = null
    });

  nodes.call(dragDrop);
  });
</script>
</body>